<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>查看订单</title>
    <include file="App/Admin/View/component/importComponent.html" />

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">订单信息</h2>
                <table class="table table-bordered table-hover table-sm">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <th style='width:150px'>订单号：</th>
                            <td>{$order.order_id}</td>
                        </tr>
                        <tr>
                            <th style='width:150px'>用户：</th>
                            <td>{$order.user_id}</td>
                        </tr>
                        <tr>
                            <th style='width:150px'>交易金额：</th>
                            <td>{$order.money}</td>
                        </tr>
                        <tr>
                            <th style='width:150px'>支付方式：</th>
                            <td>
                                <!-- {$order.method} -->
                                <if condition="$order.method == 0">
                                    <span class="badge badge-secondary bg-primary">支付宝</span>
                                </if>
                                <if condition="$order.method == 1">
                                    <span class="badge badge-secondary bg-success">微信</span>
                                </if>

                            </td>
                        </tr>
                        <tr>
                            <th style='width:150px'>状态：</th>
                            <td>
                                <if condition="$order.state == 0">
                                    <span class="badge badge-secondary">未支付</span>
                                </if>
                                <if condition="$order.state == 1">
                                    <span class="badge badge-secondary bg-success">已支付</span>
                                </if>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <hr/>
                <table class="table table-bordered table-hover table-sm">
                    <thead>
                        <tr>
                            <th>考试名称</th>
                            <th>报考日期</th>
                            <th>场次</th>
                            <th>考试科目</th>
                            <th>价格</th>
                            <!-- 用户信息 -->
                            <th>姓名</th>
                            <th>手机</th>
                            <th>邮箱</th>
                            <th>注册ID</th>
                            <th>身份证</th>
                            <th>出生年月</th>
                            <th>备注</th>
                        </tr>
                    </thead>
                    <tbody>
                        <volist name="order_info" id="vol" empty="没有信息">

                            <tr>
                                <td>{$vol.exam_name}</td>
                                <td>{$vol.date}</td>
                                <td>{$vol.time}</td>
                                <td>{$vol.title}</td>
                                <td>{$vol.money}</td>
                                <!-- 用户信息 -->
                                <td>{$vol.user_name}</td>
                                <td>{$vol.user_phone}</td>
                                <td>{$vol.user_email}</td>
                                <td>{$vol.user_pid}</td>
                                <td>{$vol.user_uid}</td>
                                <td>{$vol.user_day}</td>
                                <td>{$vol.user_info}</td>
                            </tr>

                        </volist>
                    </tbody>
                </table>
            </div>
        </div>

    </div>


    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</body>

</html>