<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>报名页面</title>
	<link rel="stylesheet" type="text/css" href="__DIST__/all/all.css" />
	<link rel="stylesheet" type="text/css" href="__VENDOR__/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="__DIST__/index/index.css" />


	<style>
		.pagination>li>a,
		.pagination>li>span {
			margin-left: 17px;
		}


		.active {
			background: red;
		}

		.pagination>li>a,
		.pagination>li>span {
			color: #919191;
			background-color: #f5f5f5;
		}

		.selected {
			background: red;
		}

		/* 分页 */

		.pagination>.active>a,
		.pagination>.active>a:focus,
		.pagination>.active>a:hover,
		.pagination>.active>span,
		.pagination>.active>span:focus,
		.pagination>.active>span:hover {
			z-index: -1;
			color: #fff;
			cursor: default;
			background-color: #9c0903;
			border-color: #9c0903;
		}

		.pagination>li>a:focus,
		.pagination>li>a:hover,
		.pagination>li>span:focus,
		.pagination>li>span:hover {
			z-index: 2;
			color: gray;
			background-color: #eee;
			border-color: #ddd;
		}

		.cur-pointer {
			cursor: pointer;
		}

		.cur-pointer:hover {
			color: red;
		}

		.cur-icon {
			cursor: pointer;
		}
	</style>
</head>

<body>
	<div class="index">
		<!-- 页眉-图片部分 -->

		<include file="App/Home/View/component/topNavComponent.html" />


		<!-- 报名系统 红色字体 -->
		<div class="container">
			<div class="row">
				<div class="col-xs-12 index-sign text-center">
					<h2 class="inde-sign-font">报名系统</h2>
				</div>
			</div>
		</div>
		<!-- 表格部分 -->
		<div class="container">
			<div class="row">
				<div class="col-xs-12 table-responsive">
					<table class="table table-bordered table-hover text-center" style="text-overflow: ellipsis;white-space: nowrap;">
						<thead>
							<tr>
								<th class="text-center">考试名称</th>
								<th class="text-center">报考日期</th>
								<th class="text-center">场次</th>
								<th class="text-center">剩余考位</th>
								<th class="text-center">考试科目</th>
								<th class="text-center">价格</th>
								<th class="text-center">报名</th>
							</tr>
						</thead>
						<tbody class="cell-color" id="content">

							<volist name="exam_info" id="vol" empty="暂时没有数据">

								<tr>
									<td>{$vol.exam_name}</td>
									<td>{$vol.exam_date}</td>
									<td>{$vol.exam_time}</td>
									<td>
										<if condition="$vol.surplus gt 0">
											{$vol.surplus}
											<else/>
											<span class="text-danger">已报满</span>
										</if>
									</td>

									<td class="text-center">

										<select class="form-control text-center input-sm" id="select{$vol.exam_id}">
											<volist name="vol.exam_subject" id="vol2" empty="暂时没有数据">
												<option class="text-center">{$vol2}</option>
											</volist>
										</select>

									</td>
									<td>{$vol.exam_money}元</td>
									<if condition="$vol.surplus gt 0">
										<td class="index-red-color toSignUp cur-pointer" data-id="#select{$vol.exam_id}" data-exam-id='{$vol.exam_id}'>
											<span class="text-danger">我要报名</span>
										</td>
										<else/>
										<td class="index-red-color">
											<span class="" style="color:#777">我要报名</span>
										</td>
									</if>
								</tr>

							</volist>


						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- 分页按钮部分 -->
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
					{$pages}
				</div>
			</div>
		</div>
		<!-- last巨幕部分 -->
		<div class="container">
			<div class="row">
				<div class="col-xs-12" style="display:inline-block">
					<div class="jumbotron" style="padding-top: 5px;padding-bottom:150px;width:96%;margin-left:2%;">
						<h3 class="text-center" style="padding-bottom:20px;">报名公告</h3>
						<div id="info">{$notice_content}</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 隐藏的填写个人信息部分 -->
		<div class="container hidden con" style="z-index:999999999999999999;">
			<div class="row">
				<div class="col-xs-12">
					<div class="index-frame text-center layui-form">
						<h3 class="index-red-color">报名信息填写</h3>
						<div class="index-frame-margin">
							<div class="col-xs-4 text-right">
								<label for="">考试科目</label>
							</div>
							<div class="col-xs-8 text-left">
								<span id="exam_subject_info">F1</span>
								<input type="hidden" id="exam_subject" name="exam_subject">
								<input type="hidden" id="exam_id" name="exam_id">
							</div>
							<br>
						</div>
						<div class="index-frame-margin">
							<div class="col-xs-4 text-right">
								<label for="">姓名</label>
							</div>
							<div class="col-xs-8 text-left">
								<input lay-verify='required' name="user_name" type="text" class="form-control" style="width:70%;">
							</div>
							<br>
						</div>
						<div class="index-frame-margin">
							<div class="col-xs-4 text-right">
								<label for="">手机</label>
							</div>
							<div class="col-xs-8 text-left">
								<input lay-verify='required|phone' name="user_phone" type="text" class="form-control" style="width:70%;">
							</div>
							<br>
						</div>
						<div class="index-frame-margin">
							<div class="col-xs-4 text-right">
								<label for="">邮箱</label>
							</div>
							<div class="col-xs-8 text-left">
								<input lay-verify='required|email' name='user_email' type="text" class="form-control" style="width:70%;">
							</div>
							<br>
						</div>
						<div class="index-frame-margin">
							<div class="col-xs-4 text-right">
								<label for="">注册ID</label>
							</div>
							<div class="col-xs-8 text-left">
								<input lay-verify='required' name="user_pid" type="text" class="form-control" style="width:70%;">
							</div>
							<br>
						</div>
						<div class="index-frame-margin">
							<div class="col-xs-4 text-right">
								<label for="">身份证</label>
							</div>
							<div class="col-xs-8 text-left">
								<input lay-verify='required|identity' name="user_uid" type="text" class="form-control" style="width:70%;">
							</div>
							<br>
						</div>
						<div class="index-frame-margin">
							<div class="col-xs-4 text-right">
								<label for="">出生年月</label>
							</div>
							<div class="col-xs-8 text-left">
								<input lay-verify='required' name="user_day" type="text" class="form-control" style="width:70%;">
							</div>
							<br>
						</div>
						<div class="index-frame-margin">
							<div class="col-xs-4 text-right">
								<label for="">备注</label>
							</div>
							<div class="col-xs-8 text-left">
								<textarea class="form-control" name="user_info" cols="23" rows="3" style="width:70%;" id="userOther"></textarea>
							</div>
							<br>
						</div>
						<div class="index-frame-margin" style="line-height:38px;margin-top:5px;">
							<div class="col-xs-8 text-right">
								<button type="button" class="btn shopcar" lay-submit lay-filter="*">加入购物车</button>
							</div>
							<div class="col-xs-4 text-left">
								<span class="settlement">
									<a href="javascript:;" id="closeForm" style="color:#000">关闭</a>
								</span>
							</div>
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 右侧悬浮的图标   -->
		<include file="App/Home/View/component/rightNavComponent.html" />

	</div>

	<script src="__VENDOR__/jquery/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="__VENDOR__/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__DIST__/all/all.js" type="text/javascript" charset="utf-8"></script>
	<script src="__VENDOR__/layer/layer.js"></script>
	<script src="__VENDOR__/layui/layui.js"></script>
	<script src="__DIST__/tool/tool.js" type="text/javascript" charset="utf-8"></script>

	<script>


		layui.use(['table', 'form'], function () {
			var table = layui.table
				, form = layui.form;

			form.on('submit(*)', function (data) {
				console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
				console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
				console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}



				$.post('', data.field, function (res) {


					$('#info').html(res);
					res = JSON.parse(res);
					w(res);

					if (res.res == 0) {
						layer.msg('添加成功~', {
							offset: '80%'
						});
						$(".con").addClass("hidden");
					}

					if (res.res == -2) {
						layer.msg('已经满员~', {
							offset: '80%'
						});
					}

				});


				return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
			});



		});


		// 报名信息页面的显示与隐藏
		$(document).ready(function () {
			$(".toSignUp").click(function (e) {

				var id = $(this).attr('data-id');
				var exam_id = $(this).attr('data-exam-id');
				var val = $(id).val();
				$('#exam_subject_info').text(val);
				$('#exam_subject').val(val);
				$('#exam_id').val(exam_id);

				$(".con").removeClass("hidden");
			});
			$("#closeForm").click(function (e) {
				$(".con").addClass("hidden");
			});
		});



	</script>
</body>

</html>