<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>支付</title>
    <link rel="stylesheet" type="text/css" href="__DIST__/all/all.css" />
    <link rel="stylesheet" type="text/css" href="__VENDOR__/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="__DIST__/order/order.css" />
    <include file="App/Admin/View/component/importComponent.html" />
</head>

<body>

    <!-- 表头的导航栏 表头样式统一在allcss里边 -->
    <include file="App/Home/View/component/topNavComponent.html" />
    <p>{$order.order_id}</p>
    <p>{$order.money}</p>
    <p>{$order.user_pid}</p>
    <p>{$order.method}</p>
    <p>{$order.exam_id}</p>

    <img src='{$url}' alt="">

    <script>


        //验证是否支付
        setInterval(function () {

            $.get('__MODULE__/Weixin/getNotify', function (res) {
                if (res == 'SUCCESS') {

                    layer.msg('支付成功！正在为您跳转');

                    setTimeout(function () {
                        window.location.href = '__MODULE__/User/user';

                    }, 500);

                }

            });


        }, 1000)


// getNotify




    </script>



</body>

</html>