<!DOCTYPE html>

	<link rel="stylesheet" type="text/css" href="../../public/dist/all/all.css" />
	<link rel="stylesheet" type="text/css" href="../../public/vendor/bootstrap/css/bootstrap.min.css" />

		<!-- 页眉-图片部分 -->
<div class="index-package1">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 index-left-one text-left">
				<img src="../../public/img/top-left.png"/>
				<img  class="secondImg" src="../../public/img/top-left2.png"/>
			</div>
			<div class="col-xs-6 index-right text-right">
				<img src="../../public/img/top-right.png"/>
			</div>
		</div>
	</div>
</div>











